<nav style="height: 100px" [ngClass]="{'greenYellowbackground':toggle === false}">
  <div style="text-align:center" class="title">
    <h1 style="color:white">Book Keeper</h1></div>
    
  <ul [ngClass]="{'list-inline' : LoggedIn === false,'float-right':LoggedIn === false,'nav-items':LoggedIn === false, 'logout': LoggedIn === true}">
    <li class="list-inline-item" *ngIf="LoggedIn === false"><h3 style="color:white"><a class="nav-link" routerLink="/login" role="button">Login</a></h3></li>
    <li class="list-inline-item" *ngIf="LoggedIn === false"><h3 style="color:white"><a class="nav-link" routerLink="/signup" role="button">Signup</a></h3></li>
    <li class="list-inline-item" *ngIf="LoggedIn === true" (click)="Logout()"><h3 style="color:white;position: absolute;"><a class="nav-link" routerLink="/" role="button">Logout</a></h3></li>
  </ul>

</nav>