nav {
    font-family: 'Raleway', sans-serif !important;
    position: fixed; 
    width:  100%;
    z-index:  10000;
    top: 0;
    background-color: red;
    left:0;
  }
.greenYellowbackground{
    background-image: url('../../assets/img/background.jpg');
    background-repeat: no-repeat;
    background-size: 100%;
}
.nav-items {
    padding-right: 20px;
}
.title {
    margin-top:30px;
}
.logout {
    left:90%;
    top : 56px;
    position: absolute;

}
.nav-link {
    color: white;
    text-decoration: none;
}

a:hover 
{
     color:white; 
     text-decoration:none; 
     cursor:pointer;  
}