<div style="position: relative;margin-top: 100px">
  <div style="margin-top: 120px;padding-bottom:40px;">
    <h1 style="text-align: center;">{{userName}}'s Book Keep</h1>
  </div>
  
      
        <input (keyup)="onKeyUp($event)" style='margin-bottom: 20px;margin-left: 10px;width: 250px;display: inline-block;'type="text" class="form-control" id="text" placeholder="Search book by name" name="text" ngModel>
        <form #createBook="ngForm" style="width:300px;left: 76%;top: -37px;margin-bottom: 0px;"class="form-inline"> 
            <label class="sr-only" for="inlineFormInputName2">Book Name</label>
            <input type="text" name="title" class="form-control mb-2 mr-sm-2" id="inlineFormInputName2" placeholder="Enter Book Name" ngModel>
          
            <label class="sr-only" for="inlineFormInputGroupUsername2">Author Name</label>
            <div class="input-group mb-2 mr-sm-2">
              <input type="text" name="author" class="form-control" id="inlineFormInputGroupUsername2" placeholder="Enter Author Name" ngModel>
            </div>
          
            <button (click)='onSubmit(createBook.value)' type="submit" class="btn btn-primary mb-2">Submit</button>
          </form>
      
  
  <div class="row" style="margin:auto">
    <div *ngFor="let book of userBooks" style="color:black;text-decoration: none">
      <div class="col-sm" style="padding-right: 30px">
        <img width="230" alt="Angular Logo" src="../assets/img/booksCover.jpg" style="opacity: 0.5;text-align: center">
        <div style="margin-top:10px">
          <h5>{{book.title}}</h5>
          <h6>By {{book.author}}</h6>
        </div>
      </div>


    </div>
  </div>
</div>