<div class="container" style="position: relative;margin-top: 150px;width:250px">
  <div style="margin-bottom:20px">
  <h2>Sign Up</h2>
  </div>
  <form #usersignup="ngForm">
    <div class="form-group">
      <label for="name">Name:</label>
      <input type="text" class="form-control" id="name" placeholder="Enter email" name="name" ngModel>
    </div>
    <div class="form-group">
      <label for="email">Email:</label>
      <input type="email" class="form-control" id="email" placeholder="Enter email" name="email" ngModel>
    </div>
    <div class="form-group">
      <label for="pwd">Password:</label>
      <input type="password" class="form-control" id="pwd" placeholder="Enter password" name="pswd" ngModel>
    </div>

    <button (click)='onSubmit(usersignup.value)' type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>